services:
  mysql:
    image: mysql:latest
    container_name: roy_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
  app:
    image: lab6:latest
    container_name: lab6_app
    restart: always
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=mydatabase
      - DB_USER=appuser
      - DB_PASSWORD=apppassword
    ports:
      - "3000:3000"

volumes:
  mysql_data: